.allData{
  background-color: #fff;
  height: 100%;
  padding: 9px;
  .allData_m{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .allData_t{
      display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 30px;
    }
    ul{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      font-size: 12px;

      .list{
        width: 160px;
        display: flex;
        margin-right: 19px;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        .headerList{
          text-align: center;
          height: 26px;
        }
        img{
          margin-bottom: 20px;
        }
        .ant-list-bordered .ant-list-item:nth-child(odd){
          background-color:#f2f7fc;
        }
        button{
          width:100%;
        }
      }
    }
    h3{
    
    }
  }
 
}